/*Clases reutilizables */

main {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.white {
    color: white;
}

.block {
    display: block;
}


/*Estilo de secciones */

body {
    margin: 0;
}

header {
    background: #2B3F4F;
    height: 106px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header a {
    margin: 10px;
    text-decoration: none;
}

.header-right {
    right: 80px;
    top: 40px;
}

.header-left {
    font-size: 32px;
    left: 60px;
    top: 25px;
}

.header-right a:hover {
    color: #00BC9E;
}

.start {
    background: #00BC9E;
    height: 811px;
    width: 100%;
}

.profile {
    height: 258px;
    left: 490px;
    top: 195px;
    width: 258px;
}

.firstline-star {
    background-color: white;
    border: none;
    left: 510px;
    height: 5px;
    top: 607px;
    width: 100px;
}

.secondline-star {
    background-color: white;
    border: none;
    height: 5px;
    left: 660px;
    top: 607px;
    width: 100px;
}

.start i {
    font-size: 35px;
    left: 619px;
    top: 600px;
}

.start span {
    font-size: 70px;
    font-weight: bolder;
    left: 272px;
    top: 505px;
}

.start .description {
    font-size: 25px;
    left: 304px;
    top: 662px;
}

.portfolio {
    background: white;
    height: 883px;
}

.portfolio .fa-star {
    font-size: 35px;
    left: 619px;
    top: 180px;
}

.portfolio .firstline-star {
    background-color: black;
    border: none;
    color: black;
    height: 5px;
    left: 510px;
    top: 186px;
    width: 100px;
}

.portfolio .secondline-star {
    background-color: black;
    border: none;
    color: black;
    height: 5px;
    left: 660px;
    top: 186px;
    width: 100px;
}

.portfolio p {
    font-size: 50px;
    font-weight: 900;
    margin-top: 110px;
    width: 100%;
}

.portfolio-photos {
    left: 48px;
    top: 218px;
}

.cabin-cover {
    background: #00BC9E;
    height: 252px;
    left: 14px;
    opacity: 0;
    top: 14px;
    width: 349px;
}

.fa-search-plus {
    color: white;
    font-size: 60px !important;
    top: 90px;
    left: 150px;
}

.cabin-cover:hover,
.cake-cover:hover,
.circus-cover:hover {
    opacity: .8;
    cursor: pointer;
}

.cake-cover {
    background: #00BC9E;
    height: 252px;
    left: 395px;
    opacity: 0;
    top: 14px;
    width: 349px;
}

.circus-cover {
    background: #00BC9E;
    height: 252px;
    left: 776px;
    opacity: 0;
    top: 14px;
    width: 349px;
}

.portfolio-photos-bottom {
    left: 48px;
    top: 500px;
}

.game-cover {
    background: #00BC9E;
    height: 252px;
    left: 14px;
    opacity: 0;
    top: 14px;
    width: 349px;
}

.safe-cover {
    background: #00BC9E;
    height: 252px;
    left: 395px;
    opacity: 0;
    top: 14px;
    width: 349px;
}

.submarine-cover {
    background: #00BC9E;
    height: 252px;
    left: 776px;
    opacity: 0;
    top: 14px;
    width: 349px;
}

.game-cover:hover,
.safe-cover:hover,
.submarine-cover:hover {
    opacity: .8;
    cursor: pointer;
}

.portfolio-photos img,
.portfolio-photos-bottom img {
    margin: 14px;
}

.portfolio img:hover {
    background: #00BC9E;
}

.about {
    background: #00BC9E;
    height: 579px;
    width: 100%;
}

.about-title {
    font-size: 45px;
    text-align: center;
    top: 50px;
    width: 100%;
}

.about .fa-star {
    font-size: 35px;
    left: 619px;
    top: 155px;
}

.about .firstline-star {
    background-color: white;
    border: none;
    height: 5px;
    left: 510px;
    top: 163px;
    width: 100px;
}

.about .secondline-star {
    background-color: white;
    border: none;
    height: 5px;
    left: 660px;
    top: 163px;
    width: 100px;
}

.about span {
    font-size: 21px;
    line-height: 160%;
    left: 225px;
    text-align: left;
    top: 213px;
}

.about .second-about {
    left: 635px;
}

.about .fa-download {
    font-size: 22px;
    left: 619px;
    top: 155px;
}

.about a {
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    height: 38px;
    left: 518px;
    padding-top: 10px;
    text-decoration: none;
    top: 428px;
    width: 209px;
}

.about a:hover {
    background: white;
    color: #00BC9E;
}

.contact {
    background: white;
    height: 937px;
}

.contact p {
    font-size: 45px;
    top: 50px;
    width: 100%;
}

.contact i {
    color: black;
    font-size: 35px;
    left: 619px;
    top: 155px;
}

.contact .firstline-star {
    background-color: black;
    border: none;
    color: black;
    height: 5px;
    left: 510px;
    top: 163px;
    width: 100px;
}

.contact .secondline-star {
    background-color: black;
    border: none;
    color: black;
    height: 5px;
    left: 660px;
    top: 163px;
    width: 100px;
}

.form-container {
    padding: 258px 260px 0px 258px;
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid #eee;
    color: rgb(179, 185, 194);
    font-size: 24px;
    height: 85px;
    padding-top: 5px;
    width: 100%;
}

input[type="text"]:active {
    border: hidden;
}

.contact a {
    background: #00BC9E;
    border-radius: 5px;
    font-size: 20px;
    height: 35px;
    left: 260px;
    padding-top: 13px;
    text-decoration: none;
    top: 773px;
    width: 79px;
}

.contact a:hover {
    background: rgb(6, 124, 104);
}

footer {
    background: #2B3F4F;
    height: 289px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.hf {
    font-size: 29px;
}

.first-container {
    left: 141px;
    font-size: 21px;
    line-height: 160%;
}

.second-container {
    left: 460px;
    text-decoration: none;
}

.second-container i {
    height: 35px;
    width: 50px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 auto;
    padding-top: 15px;
}

.second-container i:hover {
    background: white;
    color: #00BC9E;
}

.third-container {
    font-size: 21px;
    left: 838px;
    line-height: 160%;
}

.third-container a {
    color: #00BC9E;
    text-decoration: none;
}

.third-container a:hover {
    text-decoration: underline;
}

footer span {
    left: 511px;
    top: 299px;
}
